/* Start button styling */
#start-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff00ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #start-button:hover {
    background-color: #00ff00;
    color: black;
  }