<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ending</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/quiz.css" />
</head>
<body>

    <div class="container">
        <!-- Game Title -->
        <h1 id="game-name">SCAM-A-WARE</h1>
    
        <h2 id="quiz-title">Quiz Title</h2>
    
        <div id="quiz-container">
          <!-- Quiz content will be dynamically inserted here -->
          <h2>Answer correct: <%= correct_count %>/<%= total_count %></h2>
          <% const pass = (correct_count / total_count > 0.5); %>
          <% if(pass){ %>
              <h2>Congratulations!!!</h1>
          <% } else{ %>
              <h2>Try again...</h1>
          <% } %>

          <a href="/text-select/" class="link-button">Play again</a>
        </div>
      </div>
      <div class="grid"></div>
</body>
</html>