/* Bot NPC container */
.bot-npc {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Bot NPC image */
.bot-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

/* Chat box for the welcome message */
.chat-box {
  background-color: rgba(0, 0, 0, 0.7); /* Black background for the chat box */
  border: 2px solid #00ff00; /* Green border */
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
}

/* Welcome message */
#welcomeMessage {
  font-family: 'Press Start 2P', cursive; /* Retro pixelated font */
  font-size: 1em; /* Adjust font size for the welcome message */
  color: #A9A9A9; 
}

.image-container {
  width: 400px;
  height: 200px;
  margin: 40px auto;
  display: flex; /* Add flex display */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 1px solid #ddd;
  overflow: hidden;
}

.image-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#leftButton::before {
  content: "\2190"; /* Left arrow */
}

#rightButton::before {
  content: "\2192"; /* Right arrow */
}
